

.page{
font-family: 'Raleway:600';
  width: 1170;
  height: 2500;
  margin: auto;
}
.page{
  background: #cae5ee;

  /* bannière et menu principale */
}
.bannière{
  width: 100%;
  height: 124px;
  background: #7abdd4;
}
.logo{
  width: 109px;
  height: 92px;
  float: left;
  margin-top: 15px;
  margin-left: 40px;
}
.logo img{
  width: 100%;
}
.slogan{
  float: left;
  height: 124px;
  margin-left: 13px;
}
.slogan h1{
  line-height: 124px;
  color: #00858a;
  font-size: 21px;
  margin-top: 0;
  margin-bottom: 0;
}
.menu {
    float: left;
    height: 124px;
  }
  .menu ul{
    margin-bottom: 0;
    margin-top: 0;
  }
  .menu ul li{
  display: inline-block;
  line-height: 124px;
  }
  .menu ul li a{
  text-decoration: none;
  color: #00858a;
  font-size: 25px;
  margin-right: 15px;
  margin-left: 17px;
  }

/* effet au passage de la sourie menu */
.menu ul li a:hover{

}



/* burger et effet bouton burger */

.burger{
  float: left;
  width: 50px;
  height: 50px;
  font-size: 45px;
  margin-top: 40px;
  margin-left: 40px;
}

/* sousmenu */

.sousmenu{
  display: none;
width: 1072px;
height: 69px;
background-color:#009cab;
margin: auto;
border-left: :5px;
border-right: 5px;
border-bottom: 5px;
border-top: 0px;
border-style:solid;
border-color: #7abdd4;
}
.menu2{
  float: left;
  margin-left: 100px;
  margin-top: 15px;
}
.menu2 ul li{
display: inline-block;
margin-left: 93px;
font-family: Raleway;
}
.menu2 ul li a{
  color: #fff;
  text-decoration: none;
}

/* petite carré de remonté */

.test{
  display: none;
  width:50px;
	height:50px;
	background-color: #7abdd4;
  position: fixed;
  bottom: 20px;
  left: 20px;
  text-align: center;
  font-size: 50px;
}
